<%= render "shared/navbar" %>
<h1 style="margin-left: 16px;">All costumes</h1>
<div class="content" id="cardsmap">


  <div id="cardsleft">
    <% @costumes.each do |costume| %>
      <% if costume.photo.attached? %>
          <div class="my-card-background" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= cl_image_path costume.photo.key %>)">
            <%= link_to costume.name, costume_path(costume), class: "my-card" %>
          </div>
      <% else %>
          <div class="my-card-background" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4))">
            <%= link_to costume.name, costume_path(costume), class: "my-card" %>
          </div>
      <% end %>
    <% end %>
  </div>

  <div id="map"
     style="width: 500px; height: 80vh; margin-top: -80px; box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2); position: sticky; top: 66px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>

