<%= render "shared/navbar" %>
<h1>All costumes</h1>

<ul>
  <% @costumes.each do |costume| %>
    <li>
      <%= cl_image_tag costume.photo.key, height: 300, width: 400, crop: :fill %>
      <!-- implement image as background + placeholder -->
      Name: <%= costume.name %> |
      Size: <%= costume.size %> |
      Price per day: <%= costume.price_per_day %> |
      Category: <%= costume.category %> |
      Description: <%= costume.description %> |
      <%= link_to "Show", costume_path(costume) %>
    </li>
  <% end %>
</ul>

<%= link_to "Create costume", new_costume_path %>
