<%= render "shared/navbar" %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-5">
      <div class="costume-form p-4 mt-4 mb-4">
        <h2>Add a new costume</h2>

        <%= simple_form_for [@costume] do |f| %>
          <%= f.input :name %>
          <%= f.input :size %>
          <%= f.input :price_per_day%>
          <%= f.input :category %>
          <%= f.input :description %>
          <%= f.input :address %>
          <label class="btn btn-success">
            + Upload picture (optional)
            <span style="display:none;">
              <%= f.input :photo, as: :file %>
            </span>
          </label>
          <br>
          <%= f.button :submit, "+ Add costume", class: "btn btn-success" %>
        <% end %>

      </div>
    </div>
  </div>
</div>

