<%= render "shared/navbar" %>

<div class="container">
  <div class="row justify-content-between">

    <div class="col-12 col-md-6">
      <% if @costume.photo.attached? %>
        <div class="show-image mb-3" style="background-image: url(<%= cl_image_path @costume.photo.key %>)"></div>
      <% else %>
        <div class="show-image mb-3 d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)); color: rgba(0,0,0,0.5)">
          <p><em>No image uploaded.</em></p>
        </div>
      <% end %>
    </div>

    <div class="col-12 col-md-6">
      <div class="show-info p-4">
        <h2><%= @costume.name %> </h2>
        <hr>

        <ul>
          <li>Size: <%= @costume.size %></li>
          <li>Price per day: <%= @costume.price_per_day %> €</li>
          <li>Category: <%= @costume.category %></li>
          <li>Description: <%= @costume.description %></li>
        </ul>

        <% if @costume.user != @user %>
          <br>
          <h2>Book this costume</h2>
          <hr>

          <%= simple_form_for [@costume, @booking] do |f| %>
            <%= f.input :start_date %>
            <%= f.input :end_date %>
            <%= f.button :submit, class: "btn btn-primary" %>
          <% end %>
        <% else %>
          <div class="show-owner">
            <em>This costume is offered by you - you cannot rent it.</em>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
