<%= render "shared/navbar" %>
<h1>Show for <%= @costume.name %> </h1>

<ul>
  <li>Name: <%= @costume.name %></li>
  <li>Size: <%= @costume.size %></li>
  <li>Price per day: <%= @costume.price_per_day %></li>
  <li>Category: <%= @costume.category %></li>
  <li>Description: <%= @costume.description %></li>
</ul>

<% if !@costume.user == @user %>
  <%= link_to "Book costume", new_costume_booking_path(@costume) %>
<% end %>
