<%= render "shared/navbar" %>
<div class="container">
  <div class="row justify-content-between">

    <div class="col-5">
      <% if @costume.photo.attached? %>
        <div class="show-image" style="background-image: url(<%= cl_image_path @costume.photo.key %>)">
        </div>
      <% else %>
        <h2>add Placeholder</h2>
      <% end %>
    </div>

    <div class="col-5">
      <h1><%= @costume.name %> </h1>
      <hr>

      <ul>
        <li>Costume name: <%= @costume.name %></li>
        <li>Size: <%= @costume.size %></li>
        <li>Price per day: <%= @costume.price_per_day %> €</li>
        <li>Category: <%= @costume.category %></li>
        <li>Description: <%= @costume.description %></li>
      </ul>

      <% if @costume.user != @user %>
        <%= link_to "Book costume", new_costume_booking_path(@costume), class: "btn btn-primary" %>
      <% end %>
    </div>

  </div>
</div>
