<%= render "shared/navbar" %>
<h3>Add a new Booking</h3>
<%= simple_form_for [@costume, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

<%= link_to "Back", costume_path(@costume) %>
