<%= render "shared/navbar" %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6 col-md-6 col-lg-4">
      <h2 class="text-center pb-5 m-0">Add a new Booking</h2>
      <%= simple_form_for [@costume, @booking] do |f| %>
        <%= f.input :start_date %> 
        <%= f.input :end_date %> 
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
      <br>
      <%= link_to "Back", costume_path(@costume) %>
    </div>
  </div>
</div>